@import url('demo.css');
@font-face{font-family:"OpenSans-Bold";src:url("../fonts/OpenSans-Bold.ttf") format("truetype");font-weight:bold;font-style:normal;}
@font-face{font-family:"OpenSans-Light";src:url("../fonts/OpenSans-Light.ttf") format("truetype");font-weight:100;font-style:normal;}
@font-face{font-family:"OpenSans-Regular";src:url("../fonts/OpenSans-Regular.ttf") format("truetype");font-weight:100;font-style:normal;}
@font-face{font-family:"fontello";src:url("../fonts/fontello.ttf") format('truetype');font-weight: normal;font-style: normal;}
[class^="icon-"]:before, [class*=" icon-"]:before {font-family: "fontello";font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;width: 1em;margin-right: .2em;text-align: center;font-variant: normal;text-transform: none;line-height: 1em;margin-left: .2em;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-down:before{content:'\e800'; }
.icon-twitter:before{content:'\f099';}
.icon-facebook:before{content: '\f09a';}
.icon-vk:before{content:'\f189';}

/* Entypo Icon Font */

:root {
    container-lg-width: 1170px;
    container-md-width: 970px;
    container-sm-width: 750px;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    box-sizing: border-box;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

/* Gamma Gallery Style */

body {
    font-family:"OpenSans-Regular", "Helvetica", sans-serif;
    font-size:2.4rem;
}

.firstscreen {
    position:relative;
    display:table;
    width:100%;
    text-align:center;
    color:#ffffff;
    height:100vh;
    background:#9bc3ca url(../images/photo_1.jpg) center center no-repeat;
    background-attachment:fixed;
}

.firstscreen::before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}



.firstscreen-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 65%;
}

.firstscreen-content__title {
    margin:0;
    margin-bottom:1rem;
    font-size:3rem;
    line-height:1.5;
    font-weight:300;
    text-transform:uppercase;
}

.firstscreen-content__autorname {
    position:relative;
    margin-top: -1rem;
    font-size:1.2rem;
    font-weight:300;}

.firstscreen-content__autorname::before {
    background-color: rgb(255 255 255 / 90%);
    content: "";
    height: 2px;
    left: 30%;
    position: absolute;
    top: -0.6rem;
    width: 40%;
}

.firstscreen-content__link {
    border: 2px solid transparent;
    border-radius: 50%;
    bottom: 1.5rem;
    display: inline-block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.firstscreen-content__link::before {
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    content: "";
    height: 15px;
    left: 13px;
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
    width: 17px;
}

.firstscreen-content__link:hover {
    border-color: #ffffff;
    color: #ffffff;
}

.portfolio {
	margin-top: 2rem;
    text-align: center;
}

.portfolio__title {
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: 5rem;
}

.portfolio__list {
    margin: 0;
    margin-top: 4rem;
    padding: 0;
}

.portfolio__work {
    list-style-type: none;
    margin-bottom: 2.5rem;
}

.portfolio__work li {
	margin-bottom: 3rem;
}

.portfolio__work img {
    box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
    max-width: 300px;
    text-align: top;
    width: 100%;
}

.portfolio__work a {
    display: block;
    font-size: 1.4rem;
    margin: 0 auto;
    margin-top: 2rem;
    text-decoration: underline;
}

.portfolio__work a:hover {
    text-decoration: none;
    border: none;
}

.portfolio__work a:focus {
    text-decoration: none;
    outline: none;
}

.footer-content {
	margin-top: 8rem;
	text-align: center;
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
    background-color: #444444;
    color: #ffffff;    
}

.autor,
.message,
.phone
.town {
    margin: 0;
}

.footer-content__aboutm .town {
    font-size: 1rem;
    
}

.profession {
    margin: 0;
    color: #ffffff;
}

.footer-content__aboutme p,
.footer-content__social p,
.footer-content__contacts p {
	font-size: 1.2rem;
}

.footer-content__aboutme .autor {
    padding-top: 0.9rem;
}

.footer-content__social ul {
    margin: 0;
    padding: 0;
}

.footer-content__social li {
	margin: 0.5rem 0.25rem 0 0.25rem;
    display: inline-block;
    list-style-type: none;
}

.social-button {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
	width: 3rem;
    height: 3rem;
    margin: 0;
    transition: 0.2s;
    vertical-align: top;
}


.social-button-vk {
    background: url(../images/socialButton/social-vk.svg) no-repeat center;
}

.social-button-vk:hover {
    background: #ffffff url(../images/socialButton/social-vk-hover.svg) no-repeat center;
}

.social-button-skype {
    background: url(../images/socialButton/skype.svg) no-repeat center;
}

.social-button-skype:hover {
    background: #ffffff url(../images/socialButton/skype-hover.svg) no-repeat center;
}

.social-button-telegram {
    background: url(../images/socialButton/telegram.svg) no-repeat center;
}

.social-button-telegram:hover {
    background: #ffffff url(../images/socialButton/telegram-hover.svg) no-repeat center;
}


.footer-content__contacts p {
    margin: 0;
}

.phone {
    color: #ffffff;
    text-decoration: none;
}

.offer-button {
    border: 2px solid #ffffff;
    border-radius: 5rem;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0.4rem 1rem 0.6rem;
    text-decoration: none;
    transition: 0.2s;
}

.offer-button:hover {
    background-color: #ffffff;
    color: #444444;
    text-decoration: none;
}

.offer-button:focus {
    background-color: #444444;
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

.main .quote {
    margin-left: auto;
    font-size: 1.8rem;
}

.quote p {
    text-align: right;
    font-size: 1.8rem;
} 

.vk-comments {
    margin-top: 50px;
}

.gamma-container {
	min-height: 200px;
}

.gamma-gallery {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.gamma-gallery:before,
.gamma-gallery:after {
    content: " ";
    display: table;
}

.gamma-gallery:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
.gamma-gallery {
    *zoom: 1;
}
 */

.gamma-gallery li {
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 4px;
}

.gamma-gallery li img {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}

.gamma-description {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	text-align: center;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.no-touch .gamma-gallery li:hover .gamma-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 1;
}
 
.gamma-description:before {
	content: '';
	height: 100%;
}

.gamma-description:before,
.gamma-description h3 {
	display: inline-block;
	vertical-align: middle;
}

.gamma-description h3 {
	width: 100%;
	padding: 0 20px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
}

.gamma-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10001;
}

.gamma-buttons button {
	float: left;
	background: #333;
	color: #fff;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 14px;
	margin-left: 5px;
	cursor: pointer;
	border: none;
	outline: none;
}

.gamma-buttons button:before,
.gamma-nav span:before {
	font-family: 'entypo-selected';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-align: center;
	opacity: 0.7;
	outline: none;
}

.no-touch .gamma-buttons button:hover {
	background: #666;
}

button.gamma-btn-close:before {
	content: '\2715';
}

button.gamma-btn-ssplay:before {
	content: '\25b6';
}

button.gamma-btn-sspause:before {
	content: '\2389';
}

.gamma-single-view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	z-index: 10000;
	text-align: center;
	display:none;
}

.gamma-overlay {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	z-index: 9999;
}

.gamma-single-view img {
	position: absolute;
	cursor: pointer;
}

.gamma-description-wrapper {
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	padding: 5px 0;
}

.gamma-single-view .gamma-description {
	background: transparent;
	position: relative;
	bottom: auto;
	left: auto;
	right: auto;
	top: auto;
}

.gamma-single-view .gamma-description h3 {
	font-size: 15px;
	padding: 5px 0;
	color: #fff;
}

.gamma-nav span {
	position: absolute;
	display: block;
	width: 20px;
	height: 38px;
	top: 50%;
	margin-top: -19px;
	left: 20px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.gamma-nav span.gamma-next {
	left: auto;
	right: 20px;
}

.gamma-nav span:before {
	color: #fff;
	opacity: 0.7;
	font-size: 40px;
}

.gamma-nav span:hover:before {
	opacity: 1;
}

.gamma-nav span:before {
	display: block;
	margin: 0;
	width: auto;
}

.gamma-nav span.gamma-prev:before {
	content: '\e75d';
}

.gamma-nav span.gamma-next:before {
	content: '\e75e';
}

.gamma-img-fly {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* Loaders */

.gamma-loading {
	background: transparent url(../images/loader_light.gif) no-repeat center center;
}

.gamma-single-view.gamma-loading {
	background: transparent url(../images/loader_dark.gif) no-repeat center center;
}


/* Make some things unselectable. Remove where selection is needed: */

.gamma-container img,
.gamma-nav span,
.gamma-buttons button,
.gamma-description-wrapper,
.gamma-description,
.gamma-description h3 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 750px) {

	.gamma-description {
		top: 10px;
		left: 10px;
		bottom: 10px;
		right: 10px;
	}

	.gamma-description h3 {
		font-size: 14px;
		padding: 0 5px;
	}

}

@media screen and (max-width: 500px) {

	.gamma-buttons {
		float: left;
		clear: both;
	}

}

@media (min-width: 0) and (max-width: 767px) {

    html {
        font-size: 7px;
    }

    .firstscreen-content__title {
	    font-size: 5rem;
	    font-weight: 300;
	    line-height: 1.5;
	    margin-bottom: 1rem;
	}

	.firstscreen-content__autorname {
        font-size:2rem;
    }

	.firstscreen-content__autorname::before {
    left: 20%;
    width: 61%;
	}

    .portfolio {
        margin-top: 8rem;
    }

    .portfolio__title {
        font-size: 5rem;
    }

    .portfolio__work a {
        display: block;
        font-size: 3rem;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 8rem;
        text-decoration: underline;
    }

    .portfolio__work,
    .footer-content__aboutme,
    .footer-content__social,
    .footer-content__contacts {
        margin-top: 5rem;
        margin-bottom: 3rem;
        width: 100%;
    }

    .footer-content {
        margin: 0;
        padding: 0;
    }

    .footer-content__aboutme p,
    .footer-content__social p,
    .footer-content__contacts p {
        font-size: 3rem;
    }

    .profession {
        font-size: 5rem;
    }

    .social-button {
        width: 12rem;
        height: 12rem;
    }

    .offer-button {
        font-size: 4rem;
        padding-right: 1rem;
        padding-bottom: 1.2rem;
        padding-left: 1rem;
    }

    .photobook_html {
        width:400px;
        height:250px;
    }

}

@media (min-width: 768px) {
    .container {
        width: var(--container-sm-width);
    }

    .footer-content {
    margin-top: 2rem;
    }
    
    .main .quote {
    font-size: 0.8rem;
    }

    .quote p {
        font-size: 0.8rem;
    }

    .photobook_html {
        width:700px;
        height:400px;
    }
}

@media (min-width: 992px) {
    .container {
        width: var(--container-md-width);
    }

    .footer-content {
    margin-top: 3rem;
    }

    .photobook_html {
        width:900px;
        height:500px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: var(--container-lg-width);
    }

    .photobook_html {
        width:900px;
        height:500px;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.photobook {
    align-self:
    center;
}
